@model Lab4.Models.Contact

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>

@using (Html.BeginForm())
{
<div>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
<div class="editor-label">
    @Html.LabelFor(model => model.Name)
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "")
    </div>
</div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Phone)
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone, "")
        </div>
    </div>
    <br />
    <div>
        <div>
            <input type="submit" value="Update" />
        </div>
    </div>
</div>
}

<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>  